---
import CheckItem from "./CheckItem.astro";
---

<div
    class="flex flex-col items-center px-20 pt-10 mt-10 rounded-2xl bg-secondary text-background"
>
    <!-- Nav card -->
    <nav class="flex flex-col">
        <span class="text-3xl font-bold text-center">Plan Pro</span>
        <img
            src="/src/assets/vallax-happy.png"
            alt="vallax-money"
            width="200"
            height="200"
        />
    </nav>
    <!-- Card content -->
    <div class="flex flex-col gap-5">
        <CheckItem content="Dos plataformas al mismo tiempo" premium={true} />
        <CheckItem content="Dos plataformas al mismo tiempo" premium={true} />
        <CheckItem content="Dos plataformas al mismo tiempo" premium={true} />
        <CheckItem content="Dos plataformas al mismo tiempo" premium={true} />
        <CheckItem content="Dos plataformas al mismo tiempo" premium={true} />
        <CheckItem content="Dos plataformas al mismo tiempo" premium={true} />
        <CheckItem content="Dos plataformas al mismo tiempo" premium={true} />
    </div>
    <span class="text-6xl font-bold mt-20 mb-10">5.99€</span>
</div>
